In [1]:
import pandas as pd
import os

In [3]:
df = pd.read_csv('resources/csv/dog_annotations_with_groups.csv')
df.head(10)

,Unnamed: 0,filename,breed_name,folder,xmin,ymin,xmax,ymax,pose,truncated,difficult,group
0,0,n02085620_10074.jpg,chihuahua,n02085620-Chihuahua,25,10,276,498,Unspecified,0,0,Toy
1,1,n02085620_10131.jpg,chihuahua,n02085620-Chihuahua,49,9,393,493,Unspecified,0,0,Toy
2,2,n02085620_10621.jpg,chihuahua,n02085620-Chihuahua,142,43,335,250,Unspecified,0,0,Toy
3,3,n02085620_1073.jpg,chihuahua,n02085620-Chihuahua,0,27,312,498,Unspecified,0,0,Toy
4,4,n02085620_10976.jpg,chihuahua,n02085620-Chihuahua,90,104,242,452,Unspecified,0,0,Toy
5,5,n02085620_11140.jpg,chihuahua,n02085620-Chihuahua,17,38,451,253,Unspecified,0,0,Toy
6,6,n02085620_11238.jpg,chihuahua,n02085620-Chihuahua,39,191,145,383,Unspecified,0,0,Toy
7,7,n02085620_11258.jpg,chihuahua,n02085620-Chihuahua,76,30,363,375,Unspecified,0,0,Toy
8,8,n02085620_11337.jpg,chihuahua,n02085620-Chihuahua,59,37,229,179,Unspecified,0,0,Toy
9,9,n02085620_11477.jpg,chihuahua,n02085620-Chihuahua,317,95,558,459,Unspecified,0,0,Toy

In [23]:
img_folder_path = 'resources/stanford-dogs-dataset/images'
error_log = []
breed_name = ''

for _, row in df.iterrows():
    prev_breed = breed_name
    breed_name = row['breed_name']
    folder = row['folder']
    filename = row['filename']
    if filename == '%s.jpg':
        filename = filename.replace('%s',folder.split('-')[0])
        
    img_path = os.path.join(img_folder_path,folder,filename)
    
    if not os.path.exists(img_path):
        #print(f"⚠️ Missing file: {img_path}")
        if breed_name != prev_breed:
            print(breed_name)
        error_log.append(img_path)
        continue  # Skip missing images

print(len(error_log))

english_foxhound
otterhound
shetland_sheepdog
french_bulldog
687

In [13]:
if not os.path.exists('resources/stanford-dogs-dataset/images/n02089973-English_foxhound.jpg'):
    print('x')